 <% if signed_in?  %>
    

    <li class='offset4'>
      <%= "Logged in as #{current_user.username}."%><%= link_to "Sign out", signout_path %>
    </li>

  <% else %>
    <li class='offset4'>
      <%= link_to "Sign in", new_session_path %><%= link_to "Sign up", new_user_path %>
    </li>
    
    
  <% end %>