<ul>

  <% @links.each do |link| %>
        <li class="nav">
          <a class='btn' href='<%=link.url%>'><%=link.description%></a>
          <p><%=link.url%></p>
          <a href=''>discuss</a>
          <% if signed_in? && current_user.id == link.user_id %>
            <%= link_to "edit", :action => :edit, :id => link.id %>
            <a href=''>delete</a>
          <% end %>
        </li>
      <br />
<%end%>