<a class='btn' href='<%=@link.url%>'> <%=@link.description%></a>
<br>

<%= render :partial => 'comments/form', :locals => { :commentable => @commentable, :comment => @comment } %>

<% @link.comments.each do |c| %>
	-> <%= c.text %><br>
<% end %>